	<style>
			
			label {color: blue;}
			body {background-color: powderblue;}
			h1   {color: blue;}
			h2   {color: blue;}
			p    {color: red;}
			div  {font-family:courier;background-color:#7CFC00;font-size:125%;text-align:center;}
	</style>
	
